[Desktop Entry]
Comment=MUEnode (MUE masternode) activation tool
Exec=MUEnode Tool
GenericName=Masternode activation tool
Icon=muenode-tool
Name=MUEnode Tool
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
